<div class="card">
  <div class="content">
    <div class="form-group">
      <button (click)="sendMessage()" class="btn btn-default">send Message to Shell</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="content">
    <a [routerLink]="[{ outlets: { 'micro-app-flight': ['home'] }}]">Home</a> |
    <a [routerLink]="[{ outlets: { 'micro-app-flight': ['flight', 'detail'] }}]">Flight detail</a> |
    <a [routerLink]="[{ outlets: { 'micro-app-passenger': ['passenger', 'home'] }}]">Passenger home</a>
  </div>
</div>

<router-outlet name="micro-app-flight"></router-outlet>
